.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.5rem;
  background-color: #131B21;
  box-sizing: border-box;
  align-items: flex-start;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.squareImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}

.name {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.infobox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-bottom: 3rem;
  transition: transform 0.3s ease-in-out;
}

.netWorth,
.industries {
  font-size: 0.9rem;
  text-align: left;
  color: #9FA4AD;
  margin-right: 0.5rem;
}

.divider {
  color: #9FA4AD;
  margin: 0 0.5rem;
}